h1 {
    text-align: center;
}

table,
table td,
table th {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}

table th {
    height: 30px;
    background-color: darkgray;
}

.form {
    margin-top: 30px;
}

#details {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: small;
}

.form input,
.form button {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 1px;
}

.input-error::placeholder {
    color: red;
}

.form button {
    margin-top: 3px;
    max-width: 200px;
}